{% extends "admin/new.html" %}


{% block form_action %}/api/participants/new/{% endblock %}

{% block form_fields %}

    <label for="full_name">
      <span class="prefix">full name</span>
      <input type="text" name="full_name" value="" class="required capitalize" />
      <span class="suffix"></span>
    </label>

    <label for="email">
      <span class="prefix">email</span>
      <input type="text" name="email" value="" class="required email" />
      <span class="suffix"></span>
    </label>

    <label for="mobile_number">
      <span class="prefix">mobile number</span>
      <input type="text" name="mobile_number" value="" class="required mobile" />
      <span class="suffix"></span>
    </label>

    <label for="phone_number">
      <span class="prefix">phone number</span>
      <input type="text" name="phone_number" value="" class="required phone" />
      <span class="suffix"></span>
    </label>

    <label for="pricing">
      <span class="prefix">pricing</span>
      <input type="text" name="pricing" value="" class="required number" />
      <span class="suffix"></span>
    </label>

    <label for="designation">
      <span class="prefix">designation</span>
      <input type="text" name="designation" value="" class="required capitalize" />
      <span class="suffix"></span>
    </label>

    <label for="department">
      <span class="prefix">department</span>
      <input type="text" name="department" value="" class="required capitalize" />
      <span class="suffix"></span>
    </label>

    <label for="organization">
      <span class="prefix">organization</span>
      <input type="text" name="organization" value="" class="required capitalize" />
      <span class="suffix"></span>
    </label>

    <label for="address">
      <span class="prefix">address</span>
      <textarea name="address" rows="8" cols="40" class="required"></textarea>
      <span class="suffix"></span>
    </label>
{% endblock %}

