{% extends "base.html" %}
{% block body_id %}
    id="research_bg"
{% endblock %}
{% block tag_trunk %}
  <section>
    <h1>CLO Survey 2009!</h1>
    <article>
      <div class="column-1of2">
      <table id="event_details">
        <tbody>
          <caption>CLO Summit India.</caption>
          <tr>
            <th>Date: </th>
            <td>20th November 2009</td>
          </tr>
          <tr>
            <th>Location: </th>
            <td>Mumbai</td>
          </tr>
          <tr>
            <th>Venue: </th>
            <td><strong>TISS Convention Center, </strong>TATA Institute Of Social Sciences, Deonar.</td>
          </tr>
          <tr>
            <th>Timing: </th>
            <td>9:00 am to 7:00 pm (Followed by networking dinner)</td>
          </tr>
        </tbody>
      </table>
        <p>
          We're conducting India's first ever survey to understand the current context of the learning &amp; development function, it's structure, activities and the role of the CLO within organizations.
        </p>
        <p>
          The survey seeks responses from <strong>Chief Learning officers / Heads of Learning & Development / Head of HR / Decision Makers in the training, coaching, employee development, talent management domain</strong>. This is a short online survey which should take around 10 minutes to respond to.
        </p>
        <p>
          <a href="{{ survey_link }}" target="_blank" class="awesome-button large ice-cool">Click here to participate in the survey</a>
        </p>
        <p>
          Or if you would like the concerned person in your organisation to participate in the survey, <a href="research/participate">kindly provide details</a> and we will email the link.
        </p>
      </div>
      <aside class="column-2of2">
          <img src="{{ MEDIA_URL }}image/background/survey.png" width="280px" height="280px"/>
      </aside>
    </article>
  </section>
{% endblock %}

