{% extends "base.html" %}
{% block tag_trunk %}
  <section>
    <h1>CLO Survey 2009!</h1>
    <article>
      <div class="column-1of2">
        <p>
          We're conducting India's first ever survey to understand the current context of the learning &amp; development function, structure, activities and the role of the CLO within organizations.
        </p>
        <p>
          The survey seeks responses from <strong>Chief Learning officers / Heads of Learning & Development / Head of HR / Decision Makers in the training, coaching, employee development, talent management domain</strong>. This is a short online survey which should take around 10 minutes to respond to.
        </p>
        <p>
          <a href="{{ survey_link }}">You could participate in the survey here</a>
        </p>
        <p>
          Or if you would like the concerned person in your organisation to participate in the survey, kindly provide details and we will email the link
        </p>
      </div>
      <aside class= "column-2of2">
          <img src= "{{ MEDIA_URL }}image/background/survey.png" width="300px" height= "300px"/>
      </aside>
      <a class="awesome-button large cool clearfix" href="research/participate">Participate in the Survey &raquo;</a>
    </article>
  </section>
{% endblock %}

