@import base.sass

body
  :font-size 1em
  :color #555
  :line-height 1.4
  :font-family= !font_stack_verdana
  
p

a
  :font-family= !font_stack_verdana
  :text-decoration none
  :color= !color_nav_link
  
a:hover
  :color= !color_nav_link_hover
  
#main_wrapper
  +grid-container
  :background= "transparent" !url_nav_bg "no-repeat scroll top right"
  :min-height 403px
  :overflow auto
  :margin-top 10px
#main_wrapper.logo
  :background= "transparent" !url_logo "no-repeat scroll top right"
nav
  :width 470px
  :float right
  :margin 50px 0px 10px 70px
  >ul
    :font-size 1.1em
    >li
      +display-inline-block
      :margin-right 15px
      .tag
        :background= "transparent" !url_nav_button "no-repeat scroll 0 0"
        :width 63px
      #register
        :top 210px
        :position fixed
        :left -5px
        :height 145px
      #nominate_speaker
        :height 255px
        :position fixed
        :top 350px
        :left -1px
        :background-position 0px -150px
        
#home
  :margin 40px 75px 10px 0px

header
  //:clear both
  //:width 90%
  :margin 45px auto 20px
  >h1
    :line-height 1.2
    :font-size 2.2em
    :color #006c94
    :letter-spacing -0.03em
    :font-family= !font_stack_trebuchet
    >span
      :display block
      :color #0090C6 
    >span#light_color
      :color #00bae8
      
section
  :width 90%
  :margin 0px auto
  >header
    :margin-bottom 10px
    >h1
      :color= !color_nav_link
      :font-size 1.8em
  
  
