@import base.sass

body
  :font-size 1em
  :color #555
  :line-height 1.4
  :font-family= !font_stack_verdana
  
p
  :margin-bottom 15px
  
ul
  li
    +display-inline-block
    :margin 0px 15px 0px 0px

a
  :font-family= !font_stack_verdana
  :text-decoration none
  :color= !color_nav_link
  
a:hover
  :color= !color_nav_link_hover
  
a#current
  :background-color= !color_awesome_blue
a#current:hover
  :background-color= !color_awesome_blue_dark
#main_wrapper
  +grid-container
  :background= "transparent" !url_nav_bg "no-repeat scroll top right"
  :min-height 403px
  :overflow auto
  :margin-top 10px
#main_wrapper.logo
  :background= "transparent" !url_logo "no-repeat scroll top right"
nav
  :width 470px
  :float right
  :margin 50px 0px 10px 70px
  >ul
    :font-size 1.1em
    >li
      +display-inline-block
      :margin-right 15px
      .tag
        :background= "transparent" !url_nav_button "no-repeat scroll 0 0"
        :width 63px
      #register
        :top 210px
        :position fixed
        :left -5px
        :height 145px
      #nominate_speaker
        :height 255px
        :position fixed
        :top 350px
        :left -1px
        :background-position 0px -150px
        
#home
  :margin 40px 75px 10px 0px

header
  //:clear both
  //:width 90%
  :margin 45px auto 20px
  >h1
    :line-height 1.2
    :font-size 2.2em
    :color #006c94
    :letter-spacing -0.03em
    :font-family= !font_stack_trebuchet
    >span
      :display block
      :color #0090C6 
    >span#light_color
      :color #00bae8
      
section
  :width 90%
  :margin 0px auto 20px
  h1
    :color= !color_nav_link
    :font-size 1.8em
  ul
    li
      :margin-top 15px
    
aside
  ul
    li
      :font-size 1.2em
      :font-weight bold
      :margin-bottom 10px
      a
        :font-size 0.8em
        :font-weight normal
        :display block
        :width 180px
        :height 170px
table
  :width 80%
  :margin 30px 0px
  :border-collapse collapse
  thead
    th
      :height 100px
    #individual
      :background= "transparent" !url_individual_price "no-repeat scroll 0 0"
    #group_of_3
      :background= "transparent" !url_group_of_3_price "no-repeat scroll 0 0"
    #group_of_6
      :background= "transparent" !url_group_of_6_price "no-repeat scroll 0 0"
  tbody
    tr
      :border-top 1px solid #aaa
      td
        :padding 10px 0px
      .row-head
        :font-weight bold
        :font-size 1.2em

#leapvault
  :background= "transparent" !url_leapvault_logo "no-repeat scroll 0 bottom"
  :height 90px  
#tiss
  :background= "transparent" !url_tiss_logo "no-repeat scroll center bottom"
  
.column-1of2
  :width 65%
  :float left
.column-2of2
  :width 30%
  :float right
.clearfix
  :clear both  
