{% extends "register/wizard.html" %}
{% block participants_attributes %}class="current"{% endblock %}

{% block wizard_step_content %}
<form id="form_register_participants" class="decorated-fields vertical" action="/register/participants/" method="post">

  <input type="hidden" name="count" value="{{ count }}" />
  {% for index in range(count) %}
  <fieldset>
    <legend>Person {{ loop.index }}</legend>
    <div class="column">
      {% if loop.index > minimum %}
      <a href="#remove" >&times; remove</a>
      {% endif %}
      <label for="full_name_{{ loop.index }}">
        <span class="prefix">full name</span>
        <input type="text" name="full_name_{{ loop.index }}" value="" class="required capitalize" />
        <span class="suffix"></span>
      </label>

      <label for="organization_{{ loop.index }}">
        <span class="prefix">organization</span>
        <input type="text" name="organization_{{ loop.index }}" {% if not loop.index == 1 %}readonly="readonly"{% endif %} value="" class="required capitalize {% if not loop.index == 1 %}organization{% endif %}" />
        <span class="suffix"></span>
      </label>

      <label for="designation_{{ loop.index }}">
        <span class="prefix">designation</span>
        <input type="text" name="designation_{{ loop.index }}" value="" class="required capitalize" />
        <span class="suffix"></span>
      </label>

      <label for="department_{{ loop.index }}">
        <span class="prefix">department</span>
        <input type="text" name="department_{{ loop.index }}" value="" class="required capitalize" />
        <span class="suffix"></span>
      </label>

      <label for="email_{{ loop.index }}">
        <span class="prefix">business email</span>
        <input type="text" name="email_{{ loop.index }}" value="" class="required email" />
        <span class="suffix"></span>
      </label>
    </div>

    <div class="column">

      <label for="mobile_number_{{ loop.index }}">
        <span class="prefix">mobile number</span>
        <input type="text" name="mobile_number_{{ loop.index }}" value="" class="required mobile" />
        <span class="suffix">Include your <a href="http://en.wikipedia.org/wiki/List_of_country_calling_codes" target="_blank"> country code</a> and full mobile number. eg. +1 650 555 1212</span>
      </label>

      <label for="phone_number_{{ loop.index }}">
        <span class="prefix">business phone number</span>
        <input type="text" name="phone_number_{{ loop.index }}" value="" class="required phone" />
        <span class="suffix">Include your <a href="http://en.wikipedia.org/wiki/List_of_country_calling_codes" target="_blank"> country code</a> and full phone number. eg. +1 650 555 1212</span>
      </label>

      <label for="address_{{ loop.index }}">
        <span class="prefix">postal address</span>
        <textarea name="address_{{ loop.index }}" value="" cols="30" rows=5" class="required {% if not loop.index == 1 %}address{% endif %}"></textarea>
        <span class="suffix"></span>
      </label>
    </div>
  </fieldset>
  {% endfor %}

  <label for="submit">
    <span class="prefix"></span>
    <input type="submit" name="submit" value="Make payment &raquo;" />
    <span class="suffix"></span>
  </label>

</form>
{% endblock %}

