{% extends "register/wizard.html" %}
{% block payment_attributes %}class="current"{% endblock %}
{% block wizard_step_content %}
  <h1>Thanks</h1>
  <p>Thank you for taking the time to register.  You're just one step away from completing registration.</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for participant in participants %}
      <tr>
        <td>{{ participant.full_name }}</td>
        <td>{{ participant.email }}</td>
        <td>{{ participant.mobile_number }}</td>
        <td>{{ participant.pricing }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td class="row-head">Grand Total</td>
        <td>{{ total_price }}</td>
      </tr>
    </tbody>
  </table>
  <form action="{{ payment_gateway_url }}" method="POST">
    {% for form_field in form_fields %}
    <input type="hidden" name="{{ form_field.0 }}" value="{{ form_field.1 }}" />
    {% endfor %}
    <label for="submit">
      <span class="prefix"></span>
      <input type="submit" class="awesome-button large" name="submit" value="&#10004; Confirm Online Payment" />
      <span class="suffix"></span>
    </label>

  </form>

  <section id="payment_options">
    <h1>Offline Payment Options</h1>
    #*<article id="offline_payment">
      <h2>Offline Payment</h2>*#
      <p>You could send us a cheque. Please download the following PDF for the payment details and the offline registration form.</p>
      <a href="{{ MEDIA_URL }}downloads/offline_registration_form.pdf" class="awesome-button">Download Payment Form &raquo;</a>
    #*</article>*#
    #*<article id="online_payment">
      <h2>Online Payment</h2>
      <p>Use your credit card or online account to make payments.</p>
      <a href="" class="awesome-button large">Pay Online &raquo;</a>
    </article>*#
  </section>
{% endblock %}

