{% extends "register/wizard.html" %}
{% block pricing_attributes %}class="current"{% endblock %}
{% block wizard_step_content %}
  <table id="pricing">
    <thead>
      <tr>
        <th></th>
        <th id="individual"></th>
        <th id="group_of_3"></th>
        <th id="group_of_6"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="row-head">Number of Delegates(from same Organisation)</td>
        <td>1-2</td>
        <td>3-6</td>
        <td>7-9</td>
      </tr>
      <tr>
        <td class="row-head">Fees Per Delegate</td>
        <td>7,500* INR</td>
        <td>6,500* INR</td>
        <td>6,000* INR</td>
      </tr>
      <tr>
        <td class="row-head">Savings Per Delegate</td>
        <td>Nil</td>
        <td>1,000 INR</td>
        <td>1,500 INR</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="/register/participants?min=1&count=2" class="awesome-button">Register 1-2 people &raquo;</a></td>
        <td><a href="/register/participants?min=3&count=6" class="awesome-button">Register 3-6 people &raquo;</a></td>
        <td><a href="/register/participants?min=7&count=9" class="awesome-button">Register 7-9 people &raquo;</a></td>
      </tr>
    </tbody>
  </table>
  <h6>* Excluding Service Tax @ 10.3%</h6>
  <p>For registeration of 10 delegates and above, contact: +91 22 66301060 / 22026166</p>
{% endblock %}

#*{% block wizard_additional_content %}
<article>
  <div class="column-1of2">
    <p>A never before opportunity to meet and network with CEOs, CLOs and other thought leaders in the fields of learning, training, coaching, organization development, and assessments who have and will continue to shape the learning DNA of organizations.</p>
  </div>
  <aside class="column-2of2">
    <img src="{{ MEDIA_URL }}image/background/register.png" width="280px" height= "280px"/>
  </aside>
</article>
{% endblock %}*#

