{% extends "base.html" %}
{% block logo_class %}
  class= "logo"
{% endblock %}
  {% block tag_trunk %}
    <section>
      <header>
        <h1>Registration</h1>
      </header>
      <article>
        <p>A never before opportunity to meet and network with CEOs, CLOs and other thought leaders in the fields of learning, training, coaching, organisation development, and assessments  who have and will continue to shape the learning dna of organizations.</p>
      </article>
    </section>
  {% endblock %}
