{% extends "register/register.html" %}
{% block register_info %} {% endblock %}
{% block scheme_id %} id="current"{% endblock %}
{% block scheme %}
    <table>
      <thead>
        <tr>
          <th></th>
          <th id="individual"></th>
          <th id="group_of_3"></th>
          <th id="group_of_6"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="row-head">Number of Participants</td>
          <td>1</td>
          <td>3-5</td>
          <td>6-8</td>
        </tr>
        <tr>
          <td class="row-head">Fees Per Participant</td>
          <td>7,500 INR</td>
          <td>6,000 INR</td>
          <td>5,500 INR</td>
        </tr>
        <tr>
          <td class="row-head">Savings Per Participant</td>
          <td>Nil</td>
          <td>1,500 INR</td>
          <td>2,000 INR</td>
        </tr>
        <tr>
          <td></td>
          <td><a href="" class="awesome-button large ice-cool">Register</a></td>
          <td><a href="" class="awesome-button large ice-cool">Register</a></td>
          <td><a href="" class="awesome-button large ice-cool">Register</a></td>
        </tr>
      </tbody>
    </table>
{% endblock %}
