{% extends "base.html" %}
{% block tag_trunk %}
  <section>
    <article>
      <h1>Register now.  It's as easy as 1, 2, 3!</h1>
      <ol id="breadcrumbs">
        <li {% block pricing_attributes %}{% endblock %}>Pricing</li>
        <li {% block participants_attributes %}{% endblock %}>Participant Details</li>
        <li {% block payment_attributes %}{% endblock %}>Make your Payment</li>
      </ol>
      {% block wizard_step_content %}{% endblock %}
    </article>
    {% block wizard_additional_content %}{% endblock %}
  </section>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ MEDIA_URL }}script/page/register{{ MINIFIED }}.js");
</script>
{% endblock %}

