{% extends "base.html" %}
{% block body_id %}
    id="register_bg"
{% endblock %}
{% block tag_trunk %}
  <section>
    <article>
      <h1>Register now.  It's as easy as 1, 2, 3!</h1>
      <p>A never before opportunity to meet and network with CEOs, CLOs and other thought leaders in the fields of learning, training, coaching, organization development, and assessments who have and will continue to shape the learning DNA of organizations.</p>
      <p>Download the <a href="{{ MEDIA_URL }}downloads/offline_registration_form.pdf" class="awesome-button ice-cool">registration form</a> in case of offline payments</p>
      <ol id="breadcrumbs">
        <li {% block pricing_attributes %}{% endblock %}>Pricing</li>
        <li {% block participants_attributes %}{% endblock %}>Participant Details</li>
        <li {% block payment_attributes %}{% endblock %}>Make your Payment</li>
      </ol>
      {% block wizard_step_content %}{% endblock %}
    </article>
    {% block wizard_additional_content %}{% endblock %}
  </section>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ MEDIA_URL }}script/page/register{{ MINIFIED }}.js");
</script>
{% endblock %}

