{% extends "base.html" %}

#*{% block body_id %} id="about_bg"{% endblock %}*#

{% block tag_trunk %}
  <section>
      <aside id="credits">
        <ul>
          <li>
            An Initiative by:
            <a href="http://www.leapvault.com" target="_blank" id="leapvault"> LeapVault</a>
          </li>
          <li>
            Academic Partner:
            <a href="http://www.tiss.edu" target="_blank" id="tiss"> TATA Institute Of Social Sciences</a>
          </li>
        </ul>
      </aside>
      <ul class="clearboth" id="tabs">
        <li><a href="#pane_the_initiative" class="color-green">The Initiative</a></li>
        <li><a href="#pane_advisory_board" class="color-cyan">Advisory Board</a></li>
        <li><a href="#pane_core_design_group" class="color-blue">Core Design Group</a></li>
      </ul>
      <ul class="clearboth rounded_corner" id="panes">
      <li id="pane_the_initiative" class="color-green">
        <div>
            <table id="event_details" class="rounded_corner">
              <tbody>
                <caption>CLO Summit India.</caption>
                <tr>
                  <th>Date: </th>
                  <td>20th November 2009</td>
                </tr>
                <tr>
                  <th>Location: </th>
                  <td>Mumbai</td>
                </tr>
                <tr>
                  <th>Venue: </th>
                  <td><strong>TISS Convention Center, </strong>TATA Institute Of Social Sciences, Deonar.</td>
                </tr>
                <tr>
                  <th>Timing: </th>
                  <td>9:00 am to 7:00 pm (Followed by networking dinner)</td>
                </tr>
              </tbody>
            </table>
            <p>The importance of learning and organizational development in the modern enterprise is undeniable. From a small department in most organizations to a full fledged enabling function in many, the learning and development function as we know it has come through its own path of evolution. The journey though has just begun given the emergence of the knowledge economy.</p>
          <p>The 'demographic dividend' that India is set to reap in the context of the global market for talent will shape the entire economy in time to come. This has significant implications not just for corporates but for organizations across all facets of the economy.</p>
          <p>The inaugural CLO Summit 09 shall be the premier most platform for evangelizing and promoting Organizational Learning &amp; Development. The annual summit shall catalyze the creation and effective dissemination of next practices across corporates, institutions, NGOs, government bodies and practitioners through effective interaction, debate and research.</p>
        </div>
      </li>
        <li id="pane_advisory_board" class="color-cyan">
          <ul>
            <li id="arun_balakrishnan"><a href="" title=""><img width="222" height="257" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/arun_balakrishnan.jpg" alt="" /></a></li>
            <li id="g_p_gupta"><a href="" title=""><img width="106" height="106" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/g_p_gupta.jpg" alt="" /></a></li>
            <li id="a_k_khandelwal"><a href="{{ MEDIA_URL }}image/advisory_board/image/a_k_khandelwal.jpg" title=""><img width="195" height="197" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/a_k_khandelwal.jpg" alt="" /></a></li>
            <li id="pranesh_anthapur"><a href="" title=""><img width="117" height="124" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/pranesh_anthapur.jpg" alt="" /></a></li>
            <li id="curtis_bateman"><a href="{{ MEDIA_URL }}image/advisory_board/image/curtis_bateman.jpg" title=""><img width="249" height="250" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/curtis_bateman.jpg" alt="" /></a></li>
            <li id="s_parasuraman"><a href="{{ MEDIA_URL }}image/advisory_board/image/s_parasuraman.jpg" title=""><img width="106" height="106" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/s_parasuraman.jpg" alt="S Parasuraman" /></a></li>
            <li id="shaheen_mistry"><a href="" title=""><img width="119" height="133" src="{{ MEDIA_URL }}image/advisory_board/thumbnail/shaheen_mistry.jpg" alt="" /></a></li>
          </ul>
        </li>
        <li id="pane_core_design_group" class="color-blue">
          <ul>
            <li>Dr. S. Palo (Chairperson, Centre for Human Resources Management & Labour Relations)</li>
            <li>Dr. D. K. Srivastava (Professor, TISS)</li>
            <li>Prof. P. Vijaykumar (Social Organizational Leadership Development, TISS)</li>
            <li>Dr. S. Chandrasekhar (VP HR South Asia, IBM)</li>
            <li>Mr. P. Vijayan (HR director, CHEP India)</li>
            <li>Mr. Ashis Sen (HPCL)</li>
            <li>Ms. Susan Bloch (CLO, Aditya Birla Group)</li>
            <li>Dr. Rajen Mehrotra (CKO, ACC)</li>
            <li>Mr. Mathew Kuruvilla (Head Talent Development - South Asia, Deutsche Bank)</li>
          </ul>
        </li>
      </ul>
  </section>
{% endblock %}
{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ MEDIA_URL }}script/page/about{{ MINIFIED }}.js");
</script>
{% endblock %}

