{% extends "base.html" %}
{% block tag_trunk %}
  <section>
    <h1>The Initiative</h1>
      <div class="column-1of2">
      <table id="event_details">
        <tbody>
          <caption>CLO Summit India.</caption>
          <tr>
            <th>Date: </th>
            <td>20th November 2009</td>
          </tr>
          <tr>
            <th>Location: </th>
            <td>Mumbai</td>
          </tr>
          <tr>
            <th>Venue: </th>
            <td><strong>TISS Convention Center, </strong>TATA Institute Of Social Sciences, Deonar.</td>
          </tr>
          <tr>
            <th>Timing: </th>
            <td>9:00 am to 7:00 pm (Followed by networking dinner)</td>
          </tr>
        </tbody>
      </table>
          <p>The importance of learning and organizational development in the modern enterprise is undeniable. From a small department in most organizations to a full fledged enabling function in many, the learning and development function as we know it has come through its own path of evolution. The journey though has just begun given the emergence of the knowledge economy.</p>
        <p>The 'demographic dividend' that India is set to reap in the context of the global market for talent will shape the entire economy in time to come. This has significant implications not just for corporates but for organizations across all facets of the economy.</p>
        <p>The inaugural CLO Summit 09 shall be the premier most platform for evangelizing and promoting Organizational Learning &amp; Development. The annual summit shall catalyze the creation and effective dissemination of next practices across corporates, institutions, NGOs, government bodies and practitioners through effective interaction, debate and research.</p>
      </div>
      <aside class= "column-2of2">
        <ul>
          <li>
            An Initiative by:
            <a href="http://www.leapvault.com" target="_blank" id="leapvault"> LeapVault</a>
          </li>
          <li>
            Academic Partner:
            <a href="http://www.tiss.edu" target="_blank" id="tiss"> TATA Institute Of Social Sciences</a>
          </li>
        </ul>
      </aside>
      <div id="accordion" class="clearboth">
        <h2 class="tab">Advisory Board</h2>
        <ul class="pane">
          <li>Mr. Pranesh Anthapur (Coo, Yahoo! India)</li>
          <li>Dr. Arun Balakrishnan (Chairman &amp; Managing Director, HPCL)</li>
          <li>Mr. Curtis Bateman (Ceo, Spencer Johnson Foundation, Who Moved My Cheese)</li>
          <li>Mr. G. P. Gupta (Former Chairman IDBI &amp; UTI)</li>
          <li>Dr. A. K. Khandelwal (Chairman, Baroda Pioneer AMC &amp; ex chairman Bank of Baroda)</li>
          <li>Dr. S. Parasuraman (Director, Tata Institute of Social Sciences)</li>
        </ul>
        <h2 class="tab">Core Design Group</h2>
        <ul class="pane">
          <li>Dr. S. Palo (Chairperson, School of Management &amp; Labour Studies, TISS)</li>
          <li>Dr. D. K. Srivastava (Professor, TISS)</li>
          <li>Prof. P. Vijaykumar (Social Organizational Leadership Development, TISS)</li>
          <li>Mr. P. Vijayan(HR director, CHEP India)</li>
          <li>Mr. Ashis Sen(HPCL)</li>
          <li>Ms. Susan Bloch (CLO, Aditya Birla Group)</li>
          <li>Dr. Rajen Mehrotra (CKO, ACC)</li>
        </ul>
      </div>
  </section>
{% endblock %}
{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ MEDIA_URL }}script/page/about{{ MINIFIED }}.js");
</script>
{% endblock %}

