{% extends "base.html" %}
{% block nav_attributes %}id="home"{% endblock %}
{% block wrapper_class %}{% endblock %}
{% block tag_link_home %} {% endblock %}
{% block tag_trunk %}
  <section>
    <article>
      <div class="column-2of2">
        <h1>Unlearn To Learn.</h1>
        <p>
          An organizations capability to unlearn and learn will not only be a key differentiator but will also be a source of competitive advantage in terms of an organization's ability to attract and retain talent, customers and investors. 
        </p>
        <p>
          The position of the Chief Learning Officer whether designated or role based is extremely crucial in driving the next level of organizational learning, innovation, culture and the very DNA of the organization. 
        </p>
      </div>
      <div id="video_wrapper">
        <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Xf8VePS4X9I&hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/Xf8VePS4X9I&hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
      </div>
    </article>
  </section>

{% endblock %}


