{% extends "base.html" %}
{% block nav_attributes %}id="home"{% endblock %}
{% block wrapper_class %}{% endblock %}
{% block tag_link_home %} {% endblock %}
{% block tag_trunk %}
  <section>
    <article>
      <div class="column-2of2">
        <p>
          An organizations capability to unlearn and learn will not only be a key differentiator but will also be a source of competitive advantage in terms of an organization's ability to attract and retain talent, customers and investors.
        </p>
        <p>
          The position of the Chief Learning Officer whether designated or role based is extremely crucial in driving the next level of organizational learning, innovation, culture and the very DNA of the organization.
        </p>
      </div>
      <div id="video_wrapper">
      </div>
      <ul class="social_network">
        <li><a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" border="0" alt="Share/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;a2a_onclick=1;a2a_hide_embeds=0;a2a_num_services=6;</script><script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script></li>
        <li><a href="http://www.facebook.com/event.php?eid=126442465810"><img src="{{ MEDIA_URL }}image/logo/facebook.png" title="facebook" /></a></li>
        <li><a href="http://twitter.com/closummitindia"><img src="{{ MEDIA_URL }}image/logo/twitter.png" title="Twitter" /></a></li>
        <li><a href="http://events.linkedin.com/Chief-Learning-Officer-CLO-Summit-India/pub/112295"><img src="{{ MEDIA_URL }}image/logo/linkedin.png" title="Linkedin" /></a></li>
      </ul>
    </article>
  </section>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
window.scripts.push("{{ MEDIA_URL }}script/page/index{{ MINIFIED }}.js");
</script>
{% endblock %}

