{% extends "base.html" %}
{% block nav_attributes %}id="home"{% endblock %}
{% block wrapper_class %}{% endblock %}
{% block tag_link_home %}{% endblock %}
{% block tag_trunk %}
  <section>
    <article>
      <div class="column-2of2" id="kumaar_qoutes">
        <blockqoute>
          <p>
            "An organizations capability to unlearn and learn will not only be a key differentiator but will also be a source of competitive advantage in terms of it's ability to attract and retain talent, customers and investors.
          </p>
          <p>
            The position of the Chief Learning Officer whether designated or role based is extremely crucial in driving the next level of organizational learning, innovation, culture and the very DNA of the organization." 
          <span> - Kumaar Bagrodia, Initiative Founder</span>
          </p>
        </blockqoute>
        <a href="{{ MEDIA_URL }}downloads/clo_brochure_updated.pdf"><img src="{{ MEDIA_URL }}image/button/download.png" alt="Download PDF" /></a>
      </div>
      <div id="video_wrapper">
      </div>
      <div class="clearboth">
        <ul id="qoutes">
          <li>Learning is not compulsory but neither is survival. <span>-W. Edwards Deming</span></li>
          <li>The ability to learn faster than your competitors may be the only sustainable competitive advantage. <span>-Arie de Geus</span></li>
          <li>Learning is what most adults will do for a living in the 21st century. <span>-Sydney Joseph Perelman</span></li>
          <li>That's what learning is. You suddenly understand something you understood all your life, but in a new way. <span>-Doris Lessing</span></li>
          <li>In a time of drastic change it is the learners who inherit the future. The learned usually find themselves equipped to live in a world that no longer exists. <span>-Eric Hoffer</span></li>
          <li>The wisest mind has something yet to learn. <span>-George Santayana</span></li>
          <li>It's what you learn after you know it all that counts. <span>-John Wooden</span></li>
        </ul>
      </div>
      <ul id="tweets" class="rounded_corner">
        <a href="http://www.twitter.com/closummitindia" id="follow_clo"></a>
      </ul>
      <ul class="social_network inline">
        <li><a class="a2a_dd" href="http://www.addtoany.com/share_save"><img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" border="0" alt="Share/Bookmark"/></a><script type="text/javascript">a2a_linkname=document.title;a2a_linkurl=location.href;a2a_onclick=1;a2a_hide_embeds=0;a2a_num_services=6;</script></li>
        <li><a href="http://www.facebook.com/event.php?eid=126442465810"><img src="{{ MEDIA_URL }}image/icon/facebook.png" title="facebook" /></a></li>
        <li><a href="http://events.linkedin.com/Chief-Learning-Officer-CLO-Summit-India/pub/112295"><img src="{{ MEDIA_URL }}image/icon/linkedin.png" title="Linkedin" /></a></li>
      </ul>
    </article>
  </section>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
window.scripts.push("{{ MEDIA_URL }}script/page/index{{ MINIFIED }}.js",
                    "http://static.addtoany.com/menu/page.js");
</script>
{% endblock %}
