{% extends "base.html" %}

#*{% block body_id %}
    id="media_bg"
{% endblock %}*#

{% block tag_trunk %}
  <section>
  <h1>Buzz</h1>
  <ul id="media_people">
    <li>
      <span><img src="{{ MEDIA_URL }}image/advisory_board/arun_balakrishnan.png" alt="Arun Balakrishnan" width="145px" height="190px"/></span>
      <h2>Dr. Arun Balakrishnan</h2>
      <h3>Chairman and Managing Director, HPCL</h3>
      <p>Transformation begins with learning. Without learning we continue to operate from the present structure of thinking and action. In a rapidly changing environment this leaves us archaic and dysfunctional. Continuous renewal is the only trail to sustainable success. This is as true for organizations as it is for individuals.</p>
    </li>
    <li>
      <span><img src="{{ MEDIA_URL }}image/advisory_board/khandelwal.png" alt="A K Khandelwal" width="145px" height="190px"/></span>
      <h2>Mr. A K Khandelwal</h2>
      <h3>Chairman, Baroda Pioneer AMC & Ex - Chairman, Bank Of Baroda</h3>
      <p>Learning is no more optional for the corporations. Learning is beyond training. In a competitive scenario, learning is a new business function that helps Organisation to continuously convert ideas into actionable business outcomes, innovations into new products and imagination to constantly raise the bar of performance. CLO is a new business manager, a new crusader to constantly prepare Organisation to meet talent competition.</p>
    </li>
    <li>
      <span><img src="{{ MEDIA_URL }}image/advisory_board/sparasuraman.png" alt="S Parasuraman" width="145px" height="190px"/></span>
      <h2>Prof. S Parsuraman (Director</h2>
      <h3>Director, Tata Institute of Social Sciences</h3>
      <p>Learning is elemental in the success of any organization. Learning organizations engender and leap in new-fangled ideas and erudition. The wherewithal of companies to do so helps them to stay ahead of competition. The role of the CLO in this context is to understand the existing and emerging business challenges for their organizations and ensure the learning resources and agendas to get to the bottom of the catch.</p>
      <p>The CLO Summit will provide an excellent platform to listen to what various businesses talk about it.</p>
    </li>
    <li>
      <span><img src="{{ MEDIA_URL }}image/advisory_board/curtis_bateman.png" alt="Curtis Bateman" width="145px" height="190px"/></span>
      <h2>Curtis Bateman</h2>
      <h3>CEO, Spencer Johnson Foundation, Who Moved My Cheese</h3>
      <p>Change is all around us, it is not slowing down, it is not going away. It is important for organisations and leaders to learn how to manage change and develop it as a core competency.</p>
    </li>
  </ul>
  <h1>Media Partners</h1>
  <ul id="sponsors">
    <li>
      <h2>Management Next</h2>
      <img src="{{ MEDIA_URL }}image/logo/media_partner/management_next.jpg" alt="Management Next" width="180px" height="40px" />
    </li>            
    </ul>
    <p>For media enquiries please contact:<a href="mailto:info@leapvault.com"> info@leapvault.com</a></p>
    <aside class= "column-2of2">
    </aside>
  </section>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
window.scripts.push("{{ MEDIA_URL }}script/page/buzz{{ MINIFIED }}.js");
</script>
{% endblock %}
