{% extends "base.html" %}
{% block tag_trunk %}
  <section>
    <h1>What can you expect?</h1>
    <div class="column-1of2">
      <p>A day filled with inspiring keynotes, a few crisp panel discussions, stimulating presentations. And a few pleasant surprises.</p>

      <p>In a fast changing economic environment with increasing competitive intensity, how can organizational learning become a source of competitive advantage and continuous change?</p>

      <p>How can organizational learning, positively impact the business and proactively propel change in business strategy or ensure its effective implementation, instead of just reacting to it?</p>

      <p>How can organizations use learning as a tool to innovate, differentiate themselves in order to attract and retain Talent, Customers and Investors?</p>

      <p>The inaugural CLO summit shall endeavour to find answers to these questions and the following key areas through interaction and debate amongst some of the best minds in the field.</p>
    </div>
    <aside class= "column-2of2">
      <img src= "{{ MEDIA_URL }}image/background/register.png" width="280px" height="280px"/>
    </aside>
    <h1 class="clearboth">Topics</h1>
    <ol>
      <li><strong>Organizational Learning:</strong> A source of competitive advantage and continuous change. Strategic perspective from the Leadership (CEOs, Presidents)</li>
      <li><strong>'Getting a seat at the table':</strong> The role of the CLO in organizations; The role of L&amp;D. The current state of learning &amp; development function within organizations: A look at best practices and needs for the future.</li>
      <li><strong>Learning: public sector and non corporate organizations.</strong> PSUs, defence services, NGOs/voluntary sector, government, academia: Current best practices and organizational learning needs given the socio-economic environment.</li>
      <li><strong>Developing Learning Content and delivery:</strong> Demographics of learners, Technology,  Channels/Medium, Reach, Cost. The internet and online learning platforms, e-learning, distance education.</li>
      <li><strong>Organizational Learning on a budget and The ROI challenge.</strong></li>
      <li><strong>On the Job Learning, apprenticeship:</strong> Industry &amp; Organizational Successes</li>
      <li><strong>Learning and R&amp;D:</strong> Role of Learning in R&D intensive organisations </li>
      <li><strong>Career Paths, Domain expertise and Learning.</strong> From Functional Titles to Domain Titles and experts?</li>
      <li><strong>Learning in multicultural environments:<strong> Conglomerates, Multi National Corporations</li>
    <ol>
  </section>
{% endblock %}

