{% extends "base.html" %}
#*{% block body_id %}
    id="program_bg"
{% endblock %}*#

{% block tag_trunk %}
  <section>
    <ul class="clearboth" id="tabs" class="rounded_corner">
      <li><a href="#what_can_expect" class="color-green">What can you expect?</a></li>
      <li><a href="#agenda" class="color-cyan">Agenda</a></li>
      <li><a href="#speakers" class="color-blue">Speakers</a></li>
    </ul>
    <ul id="panes" class="rounded_corner">
      <li id="what_can_you_expect" class="color-green">
        <div class="column-1of2">
          <table id="event_details" class="rounded_corner">
            <tbody>
              <caption>CLO Summit India.</caption>
              <tr>
                <th>Date: </th>
                <td>20th November 2009</td>
              </tr>
              <tr>
                <th>Location: </th>
                <td>Mumbai</td>
              </tr>
              <tr>
                <th>Venue: </th>
                <td><strong>TISS Convention Center, </strong>TATA Institute Of Social Sciences, Deonar.</td>
              </tr>
              <tr>
                <th>Timing: </th>
                <td>9:00 am to 7:00 pm (Followed by networking dinner)</td>
              </tr>
            </tbody>
          </table>
          <p>A day filled with inspiring keynotes, a few crisp panel discussions, stimulating presentations. And a few pleasant surprises.</p>

          <p><strong class="question">In a fast changing economic environment with increasing competitive intensity, how can organizational learning become a source of competitive advantage and continuous change?</strong></p>

          <p><strong class="question">How can organizational learning, positively impact the business and proactively propel change in business strategy or ensure its effective implementation, instead of just reacting to it?</strong></p>

          <p><strong class="question">How can organizations use learning as a tool to innovate, differentiate themselves in order to attract and retain Talent, Customers and Investors?</strong></p>

          <p>The inaugural CLO summit shall endeavour to find answers to these questions and some of the key areas mentioned in the agenda through interaction and debate amongst some of the best minds in the field.</p>
        </div>
        <aside class= "column-2of2">
          <img src= "{{ MEDIA_URL }}image/background/register.png" width="280px" height="280px"/>
        </aside>
      </li>
      <li id="agenda" class="color-cyan">
        <ul>
          <li><strong>Organizational Learning:</strong> A source of competitive advantage and continuous change. Strategic perspective from the Leadership (CEOs, Presidents)</li>
          <li><strong>'Getting a seat at the table':</strong> The role of the CLO in organizations; The role of L&amp;D. The current state of learning &amp; development function within organizations: A look at best practices and needs for the future.</li>
          <li><strong>Learning: public sector and non corporate organizations.</strong> PSUs, defence services, NGOs/voluntary sector, government, academia: Current best practices and organizational learning needs given the socio economic environment.</li>
          <li><strong>Developing Learning Content and delivery:</strong> Demographics of learners, Technology,  Channels/Medium, Reach, Cost. The internet and online learning platforms, e-learning, distance education.</li>
          #*<li><strong>Organizational Learning on a budget and The ROI challenge.</strong></li>*#
          <li><strong>On the Job Learning, apprenticeship, Coaching and Mentoring:</strong> Industry &amp; Organizational Successes</li>
          <li><strong>Learning and R&amp;D:</strong> Role of Learning in R&D intensive organisations </li>
          #*<li><strong>Career Paths, Domain expertise and Learning.</strong> From Functional Titles to Domain Titles and experts?</li>*#
          <li><strong>Learning in multicultural environments:</strong> Conglomerates, Multi National Corporations</li>
        </ul>
      </li>
      <li id="speakers" class="color-blue">
        <p>Following is a partial list of confirmed speakers. We shall be updating the complete list shortly as the team is ensuring an eclectic mix of thought leaders.</p>
        <ul>
          <li>Mr. Bhaskar Chatterjee (Secretary, Department of Heavy Industries and Public Enterprises, Government of India.)</li>
          <li>Mr. Arun Balakrishnan (CMD, HPCL)</li>
          <li>Ms. Shaheen Mistri (CEO, Teach for India)</li>
          <li>Dr. S Chandrasekhar (VP HR South Asia, IBM)</li>
          <li>Mr. Yogi Sriram (EVP, L &amp; T)</li>
          <li>Ms. Susan Bloch (CLO, Aditya Birla Group)</li>
          <li>Mr. S Mohan (Executive Director, BPCL)</li>
          <li>Mr. V C Agarwal (Director, Indian Oil corporation)</li>
          <li>Captain Mohanlal J P (Head, Learning & Development, SBI Life Insurance)</li>
          <li>Mr. K S Jamestein (Group GM, ONGC)</li>
          <li>Mr. Kalyan Banerjee (Head Learning, Mindtree)</li>
          <li>Mr. Nilesh Kulkarni (Head HR, Novartis consumer health)</li>
        </ul>
      </li>
    </ul>
  </section>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ MEDIA_URL }}script/page/program{{ MINIFIED }}.js");
</script>
{% endblock %}

