{% extends "base.html" %}
{% block tag_trunk %}
  <section>
      <h1>CLO Survey 2009!</h1>
    <article>
      <div class="column-1of2">
        <p>
          We're launching India's first ever survey to understand the current context of the learning &amp; development function, structure, activities and the role of the CLO within organisations.
        </p>
        <p>
          The survey is targeted at the Chief Learning officers / Heads of Learning &amp; Development / Decision Makers in the training, coaching, employee development, talent management domain.
        </p>
        <p>
          This is a short online survey which should take between 10 to 15 minutes to respond to.
        </p>
        <p>
          <strong>If you would like to have your organisation participate in this survey kindly provide details and we shall send you a link.</strong>
        </p>
      </div>
      <aside class= "column-2of2">
          <img src= "{{ MEDIA_URL }}image/background/survey.png" width="280px" height= "280px"/>
      </aside>
      <a class="awesome-button large ice-cool clearfix" href="/research/participate/">Click Here to Participate.</a>
    </article>
  </section>
{% endblock %}

