{% extends "base.html" %}
{% block tag_trunk %}
  <section>
    <header>
      <h1>Nominate a Speaker.</h1>
    </header>
    <article>
      <p>
        We're scouring for the best minds to have them share their experiences, research, case studies, ideas and learnings. If you or someone you know would like to present or be a part of a panel discussion or hold a break out session, please submit the details below:
      </p>
      <form id="nominate_speaker" class="decorated-fields table" action="/speaker" method="post">
        <label for="first_name">
          <span class="prefix">First Name</span>
          <input type="text" name="first_name" value="" />
          <span class="suffix"></span>
        </label>

        <label for="last_name">
          <span class="prefix">Last Name</span>
          <input type="text" name="last_name" value="" />
          <span class="suffix"></span>
        </label>

        <label for="designation">
          <span class="prefix">Designation</span>
          <input type="text" name="designation" value="" />
          <span class="suffix"></span>
        </label>

        <label for="department">
          <span class="prefix">Function/Department</span>
          <input type="text" name="department" value="" />
          <span class="suffix"></span>
        </label>

        <label for="organisation">
          <span class="prefix">Organisation</span>
          <input type="text" name="organisation" value="" />
          <span class="suffix"></span>
        </label>

        <label for="organisation_website">
          <span class="prefix">Organisation Website</span>
          <input type="text" name="organisation_website" value="" />
          <span class="suffix"></span>
        </label>

        <label for="City">
          <span class="prefix">City</span>
          <input type="text" name="city" value="" />
          <span class="suffix"></span>
        </label>

        <label for="email">
          <span class="prefix">Email</span>
          <input type="text" name="email" value="" />
          <span class="suffix"></span>
        </label>

        <label for="mobile_number">
          <span class="prefix">Mobile Number</span>
          <input type="text" name="mobile_number" value="" />
          <span class="suffix"></span>
        </label>

        <label for="research_topic">
          <span class="prefix">Research Topic</span>
          <input type="text" name="research_topic" value="" />
          <span class="suffix"></span>
        </label>

        <label for="biosketch">
          <span class="prefix">Biosketch</span>
          <textarea name="biosketch" cols="30" rows="10"></textarea>
          <span class="suffix"></span>
        </label>

        <label for="upload">
          <span class="prefix">Presentation/Research Paper</span>
          <input type="file" name="upload" value="" />
          <span class="suffix"></span>
        </label>

        <label for="submit">
          <span class="prefix"></span>
          <input type="submit" name="submit" value="Nominate &raquo;" />
          <span class="suffix"></span>
        </label>
      </form>
    </article>
  </section>

{% endblock %}

