{% extends "base.html" %}
#*{% block body_id %}
    id="sponsor_bg"
{% endblock %}*#
{% block tag_trunk %}
  <section>
    <h1>Change Coaching Partner.</h1>
    <div class= "column-1of2">
      #*<table id="event_details" class="rounded_corner">
        <tbody>
          <caption>CLO Summit India.</caption>
          <tr>
            <th>Date: </th>
            <td>20th November 2009</td>
          </tr>
          <tr>
            <th>Location: </th>
            <td>Mumbai</td>
          </tr>
          <tr>
            <th>Venue: </th>
            <td><strong>TISS Convention Center, </strong>TATA Institute Of Social Sciences, Deonar.</td>
          </tr>
          <tr>
            <th>Timing: </th>
            <td>9:00 am to 7:00 pm (Followed by networking dinner)</td>
          </tr>
        </tbody>
      </table>*#
      <ul id="sponsors">
        <li>
          <a href="http://www.whomovedmycheese.com" target="blank"><img src="{{ MEDIA_URL }}image/logo/sponsors/who_moved_my_cheese.jpg" alt="Who Moved My Cheese?" width="230px" height="19px" /></a>
        </li>        
      </ul>
      <p>With over 24 million copies in 42 languages, Who Moved My Cheese?, by Dr. Spencer Johnson, is the best-selling business book of all time.
         Amazon says that in its first 10 years of operation, Who Moved My Cheese? was its #1 selling title. Our solutions have been used by over  50% of the Fortune 500 companies and many other global organizations to train leaders and management.
 </p>
      #*<p>We're offering the foremost platform for the learning, employee development, talent management, elearning, continued education, coaching and mentoring fraternity.</p>*#
      <p>For sponsorship enquiries please contact: <a href="mailto:sponsorx@leapvault.com">sponsors@leapvault.com</a></p>
      <address>Postal Address: 61, Mittal Tower B Wing, Nariman Point, Mumbai 400021, India.</address>
    </div>
    <aside class= "column-2of2">
      <img src= "{{ MEDIA_URL }}image/background/partners.png" width="280px" height= "255px"/>
    </aisde>
  </section>
{% endblock %}
