{% extends "base.html" %}
{% block tag_trunk %}
  <section>
    <h1>Why should my company sponsor?</h1>
    <div class= "column-1of2">
      <p>We're offering the foremost platform for the learning, employee development, elearning, coaching and mentoring fraternity. 
  We've partnered with the most renowned institution on the subject area. 
  It is needless to say that given the construct of the summit we will have some of the best speakers and thought leaders in the domain.</p>
      <p>Are your employees truly your key assets? Is your company in a high growth industry?</p>
      <p>Is yours a knowledge based industry? Do you need to recruit and retain the best talent?</p>
      <p>How are you communicating your Employer Brand to the concerned stakeholders?</p>
      <p>Is yours a corporate learning, training, elearning, distance / continuing education  vendor organisation? </p>
      <p>This is an opportunity to get your product / service / thought leadership etc in front of those who matter.</p>
      <p>Opportunity to offer a high end event to engage your clients.</p>
      <p>Of course, regular benefits like networking, business development contacts etc are a given.</p>
    </div>
    <aside class= "column-2of2">
      <img src= "{{ MEDIA_URL }}image/background/partners.png" width="280px" height= "255px"/>
    </aisde>
  </section>
{% endblock %}
